html, body, h1  {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    display: flex;
    height: 182px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 30px 30px;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    flex-wrap: wrap;
}


h1 {
    display: flex;
    width: 587px;
    height: 167px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /*font-size: 75px;*/
    font-size: 468.75%; /*converted from 75px*/
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5.25px;
}

.subBannerContainer {
    position: fixed;
    width: 100%;
    background: rgb(0, 0, 0);
    border-radius: 0px 0px 30px 30px;
}

@media screen and (max-width: 491px) {
    .container {
        height: 120px;
    }

    .container h1 {
        letter-spacing: 1px;
        height: 120px;
        font-size: 40px;
    }
  }

/*Galaxy fold is 280px width*/
@media screen and (max-width: 300px) {
    .container {
        height: 120px;
    }

    .container h1 {
        height: 120px;
        font-size: 35px;
    }
  }

