#contactBackground::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(redbackgroundcopy.jpeg) center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#contactBackground {
    height: 100%;
}

.contactContentAll {
    padding-top: 150px;
}

@media screen and (max-width: 491px) {
    .contactContentAll {
        padding-top: 140px;
    }
    .buttonContainer {
        display: flex;
        flex-direction: column;
        gap: 40px;
        /*padding-left: 10%;*/
    }
}

/*iPhone 4 and smaller */
@media screen and (max-height: 567px) {
    #contactBackground {
        height: auto;
    }
}

@media screen and (min-width: 491px) and (max-height: 725px) {
    #HomeMenu {
        height: auto;
    }
  }

  @media screen and (min-width: 491px) and (max-width: 1082px) and (max-height: 725px) {
    #contactBackground {
        height: auto;
    }
  }

  @media screen and (min-width: 491px) and (max-width: 1082px) {
    .buttonContainer {
        padding-top: 30px;
        flex-direction: column;
    }
    
  }

  @media screen and (min-width: 491px) and (max-height: 470px) {
    .contactContentAll {
        padding-top: 150px;
    }
    #resumeSubheader {
        font-size: 40px;
    }
  }
  