#HomeMenu {
    height:100%;
    background-image: url('homeBackground_cropped.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#resumeOverlay {
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.7);
  }