.homeButtons {
    display: flex;
    margin:auto;
    max-width: 690px;
    padding: 25px 1px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 110px 97px;
    flex-wrap: wrap;
}

#projectsButton {
    width: 267px;
    height: 89px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: rgba(0, 94, 21, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 159.023%; /* 47.707px */
    letter-spacing: 3px;
    
}

#projectsButton:hover {
    transition:300ms;
    background: rgba(0, 255, 56, 0.35);
    font-weight: 700;
}

#projectsSubButton {
    width: 200px;
    height: 66.667px;
    flex-shrink: 0;
    border-radius: 7px;
    border: 2px solid #FFF;
    background: rgba(0, 94, 21, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 159.023%; /* 34.985px */
    letter-spacing: 2.2px;
}

#projectsSubButton:hover {
    transition: 100ms;
    background: rgba(0, 255, 56, 0.35);
}

#aboutButton {
    width: 267px;
    height: 89px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: rgba(112, 0, 130, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 159.023%; /* 47.707px */
    letter-spacing: 3px;
}

#aboutButton:hover {
    transition: 100ms;
    background: rgba(219, 0, 255, 0.35);
    font-weight: 700;
}

.resumeButton {
    width: 267px;
    height: 89px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: rgba(102, 104, 0, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 159.023%; /* 47.707px */
    letter-spacing: 3px;
}

.resumeButton:hover {
    transition: 100ms;
    background: rgba(250, 255, 0, 0.35);
    font-weight: 700;  
}

#resumeSubButton {
    width: 250px;
    height: 60px;
    flex-shrink: 0;
    border: 2px solid #FFF;
    background: rgba(102, 104, 0, 0);
    color: #FFF;
    text-align: center;
    font-family: "optima", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 159.023%; /* 47.707px */
    letter-spacing: 3px;
}

#resumeSubButton:hover {
    font-weight: 500;
    transition: 300ms;
    background: rgba(255, 255, 255, 1);
    color: black;
    

}

#contactButton {
    width: 267px;
    height: 89px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: rgba(100, 0, 0, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 159.023%; /* 47.707px */
    letter-spacing: 3px;
}

#contactButton:hover {
    transition: 100ms;
    background: rgba(255, 0, 0, 0.35);
    font-weight: 700; 
}

.buttonContainer {
    display: flex;
    gap: 75px;
}

#contactSubButton {
    width: 250px;
    height: 60px;
    flex-shrink: 0;
    border: 2px solid #FFF;
    background: rgba(102, 104, 0, 0);
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "optima", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 159.023%; /* 34.985px */
    letter-spacing: 2.2px;
}

#contactSubButton:hover {
    transition: 300ms;
    background: rgba(255, 255, 255, 1);
    color: black;
    font-weight: 500;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

@media screen and (max-width: 491px) {
    .homeButtons {
        gap: 10%;
        height: 50%;
        padding: 0;
    }
    #projectsButton {
        min-width: 220px;
        width: 100%;
        height: 80%;
        font-size: 20px;
        padding: 15px 15px;
    }

    #projectsSubButton {
        width: 100%;
        font-size: 20px;
        padding: 15px 15px;
    }

    #aboutButton {
        min-width: 220px;
        width: 100%;
        height: 80%;
        font-size: 20px;
        padding: 15px 15px;   
    }

    .resumeButton {
        min-width: 220px;
        width: 100%;
        height: 80%;
        font-size: 20px;
        padding: 15px 15px;   
    }

    #contactButton {
        min-width: 220px;
        width: 100%;
        height: 80%;
        font-size: 20px;
        padding: 15px 15px;   
    }

    #resumeSubButton {
        min-width: 200px;
        width: 100%;
        height: 80%;
        font-size: 16px;
        padding: 15px 30px;

    }

    #contactSubButton {
        min-width: 200px;
        width: 100%;
        font-size: 16px;
        padding: 15px 15px;
    }
}

/*SE, Galaxy Fold etc.*/
@media screen and (max-width: 400px) and (max-height: 700px) {
    .homeButtons {
        gap: 20px;
        height: 45%;
        padding: 0; 
        margin: 0 20px;
        margin-bottom: 30px;
    }
    #projectsButton {
        min-width: 170px;
        width: 100%;
        height: 80%;
        font-size: 16px;
        padding: 15px 15px;
    }

    #projectsSubButton {
        width: 100%;
        font-size: 20px;
        padding: 15px 15px;
    }

    #aboutButton {
        min-width: 170px;
        width: 100%;
        height: 80%;
        font-size: 16px;
        padding: 15px 15px;   
    }

    .resumeButton {
        min-width: 170px;
        width: 100%;
        height: 80%;
        font-size: 16px;
        padding: 15px 15px;   
    }

    #contactButton {
        min-width: 170px;
        width: 100%;
        height: 80%;
        font-size: 16px;
        padding: 15px 15px;   
    }

    #resumeSubButton {
        height: 80%;
        font-size: 13px;
        padding: 15px 30px;
    }
    
    #contactSubButton {
        min-width: 170px;
        width: 100%;
        height: 80%;
        font-size: 13px;
        padding: 15px 15px;
    }
}

@media screen and (min-width: 491px) and (max-height: 725px) {
    body {
        height: auto;
    }
}

/*Tablets*/
@media screen and (min-width: 491px) and (max-width: 1082px) {
   
}

  
