#HomeMenu::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(redbackgroundcopy.jpeg) center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#HomeMenu {
    height:100%;
    /*overflow-y:hidden ;*/
}


.subheader {
    font-family: 'Andada Pro', serif;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 5%;

}

.subheader h2 {
    color: white;
    font-size: 40px;
    line-height: 159%;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-family: 'Andada Pro';
    margin-left: 5%;

}

.name {
    color: #FB6B6B;
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    font-weight: 200;


}
  .name h1 {
    font-family: 'Andada Pro';
    font-size: 130px;
    font-weight: 400;
    line-height: 159%;
    letter-spacing: 0.1em;
    margin: 0 5%;



  }

  #subText h2 {
    font-size: 30px;
    line-height: 159%;
    font-weight: 400;
    font-family: 'Optima', sans-serif;
    margin: 0 5%;
    margin-bottom: 5%;
    
}

.card-overlay {
    margin: auto;
}

.projectBody {
    display: flex;
    justify-content: center;
}
.projectList {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: space-between;
    margin: 0 5%;
    margin-bottom: 5%;
}

.project {
    width: 70%;
    max-width: 350px; /* Set the width of the square */

}

#projectOne img {
    width: 100%;
}

#projectTwo img {
    width: 100%;
}

#projectThree img {
    width: 100%;
}

@media screen and (max-width: 1500px) {
    .projectList {
        justify-content: center;
    }
}


@media screen and (max-width: 1050px) {
    .subheader {
        width: 80%;
        margin: auto;
        padding-top: 90px;
        display: flex;

    }
    #subText h2 {
        font-size: 30px;
        line-height: 159%;
        font-weight: 400;
        font-family: 'Optima', sans-serif;
        margin-bottom: 10%;

    }

    .name {
        margin-left: 10%;

    }

    .name h1 {
        font-size: 90px;
    }

    .projectList {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }
}


@media screen and (max-width: 650px) {

    #HomeMenu::before {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(redcrop.png) center;

    }
    .subheader {
        padding-top: 90px;
        margin-left: 10%;
    }

    .subheader h2 {
        font-size: 25px;

    }

    #subText.subheader  {
        width: 80%;
        padding-top: 20px;
        display: flex;
        margin: auto;

    }

    #subText.subheader h2  {
        
        font-size: 16px;

    }

    .name {
        margin-left: 10%;

    }

    .name h1 {
        font-size: 60px;
        

    }
}