#HomeMenu::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(redbackgroundcopy.jpeg) center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#HomeMenu {
    height:100%;
    /*overflow-y:hidden ;*/
}


.subheader {
    font-family: 'Andada Pro', serif;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.subheader h2 {
    color: white;
    font-size: 40px;
    line-height: 159%;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-family: 'Andada Pro';
    margin-left: 5%;

}

#greetingText {
    padding-top: 5%;

}

.name {
    color: #FB6B6B;
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    font-weight: 200;


}
  .name h1 {
    font-family: 'Andada Pro';
    font-size: 130px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.1em;
    margin: 0 4%;



  }

  #subText h2 {
    font-size: 30px;
    line-height: 159%;
    font-weight: 400;
    font-family: 'Optima', sans-serif;
    margin: 0 5%;
    margin-bottom: 10%;
    padding-top: 4%;
    
}

.card-overlay {
    margin: auto;
}

.projectBody {
    display: flex;
    justify-content: center;
}
.projectList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 100px;
    margin: 0 5%;
    margin-bottom: 5%;
}

.project {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    display: flex;
    gap: 300px;

}

.rectangle {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.projectText {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0;
    color: #FFF;
    font-family: ""Andada Pro"", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 159%; /* 33.39px */
    letter-spacing: .1em;
    text-align: left;
    margin-left: 5%;
}

.projectTitle {
    color: #FB6B6B;
    font-size: 40px;
    line-height: 159%;
    margin-bottom: 0;

}

.projectText a {
    width: 80%;
}

#projectOne .projectText a {
    width: 75%;
}

#projectTwo .projectText a {
    width: 60%;
}


.projectTopics {
    font-weight: 400;
    font-family: "Optima", serif;
    color: white;

}

.projectDesc {
    justify-content: flex-start;
    width: 80%;
    margin: 0;
    margin-bottom: 10%;
    margin-right: 20%;
}

#projectOne img {
    display: flex;
    max-width: 450px;
    margin-left: 5%;
    
}

#projectTwo img {
    display: flex;
    max-width: 450px;
    margin-right: 5%;

}

#projectThree img {
    display: flex;
    max-width: 450px;
    margin-left: 5%;

}

#projectFour img {
    display: flex;
    max-width: 450px;
    margin-right: 5%;

}

@media screen and (max-width: 1209px) {
    .project {
        gap: 200px;
    }
    .projectText {

        
    }
    .projectTitle {
        font-size: 30px;
    
    }

    .projectTopics {
        font-size: 25px;
    }

    .projectDesc {
        font-size: 18px;
    }
}

@media screen and (max-width: 1500px) {
    .projectList {
        justify-content: center;
    }
}


@media screen and (max-width: 1050px) {
    .subheader {
        width: 80%;
        margin: auto;
        display: flex;

    }
    #subText h2 {
        font-size: 25px;
        line-height: 159%;
        font-weight: 400;
        font-family: 'Optima', sans-serif;
        margin-bottom: 10%;

    }

    #greetingText h2 {
        padding-top: 5%;
    }

    .name {
        margin-left: 10%;

    }

    .name h1 {
        font-size: 90px;
    }

    .projectList {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }
}


@media screen and (max-width: 650px) {

    #HomeMenu::before {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(redcrop.png) center;

    }
    .subheader {
        padding-top: 90px;
        margin-left: 10%;
    }

    .subheader h2 {
        font-size: 25px;

    }

    #subText.subheader  {
        width: 80%;
        padding-top: 20px;
        display: flex;
        margin: auto;

    }

    #subText.subheader h2  {
        
        font-size: 16px;

    }

    .name {
        margin-left: 10%;

    }

    .name h1 {
        font-size: 60px;
        

    }
}
@media screen and (max-width: 560px) {

    .projectText {
        color: white;
        display: flex;
        justify-content: flex-start;
    }
    .projectTitle {
        font-size: 25px;
    }
    .projectTopics {
       font-size: 20px;
    }
}

@media screen and (max-width: 460px) {

    .projectText {
        color: white;
        display: flex;
        justify-content: flex-start;
    }
    .projectTitle {
        font-size: 20px;
    }
    .projectTopics {
        font-size: 16px;
     }
}

@media screen and (max-width: 400px) {

    .projectText {
        color: white;
        display: flex;
        justify-content: flex-start;
    }
    .projectTitle {
        font-size: 20px;
        
    }
    .projectTopics {
        font-size: 12px;
     }
}