html, body {
}
#projectBackground {
    min-height: 100%;
    background: rgba(0, 0, 0, 0.8);

}
.projectContentAll {
    padding-top: 167px;
}

.project-title {
    width: 100%;
    font-size: 60px;
    color: #FFF;
}

.ProjectOne {
    height: 520px;
    margin-bottom: 20px;
    background-image: url('health.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.ProjectTwo {
    height: 520px;
    margin-bottom: 20px;
    background-image: url('social_events.png');
    background-size: cover;
    background-repeat: no-repeat;

}

.ProjectThree {
    height: 520px;
    background-image: url('testing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.ProjectFour {
    height: 520px;
    background-image: url('usewebsite.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.ProjectFive {
    height: 520px;
    background-image: url('onlinelearn.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.project-desc {
    display: flex;
    max-width: 750px;
    margin: 0;
    font-weight: 300;
    letter-spacing: 3px;
}

.card-overlay {
    height: 100%;
}

.project-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.project-container h1 {
    font-weight: 400;
}

@media screen and (max-width: 491px) {
    .project-container h1 {
        max-width: 450px;
        font-size: 30px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        height: 100px;
    }
    .project-container p {
        text-align: center;
        font-size: 18px;
        margin: 0 auto;
    }
    .projectContentAll {
        padding-top: 100px;
    }
    .ProjectOne {

    }
}

@media screen and (max-width: 400px) and (max-height: 740px) {
    .project-container h1 {
        max-width: 450px;
        font-size: 25px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        height: 100px;
    }
    .project-container p {
        text-align: center;
        font-size: 16px;
        margin: 0 auto;
    }
    .projectContentAll {
        padding-top: 100px;
    }
    
}

/*iPhone 4 and smaller */
@media screen and (max-width: 400px) and (max-height: 567px) {
    .project-container h1 {
        max-width: 300px;
        font-size: 30px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        height: 100px;
    }
    .project-container p {
        text-align: center;
        font-size: 16px;
        margin: 0 auto;
    }
    .projectContentAll {
        padding-top: 85px;
    }
}

@media screen and (min-width: 491px) and (max-width: 1082px) {
    .project-container h1 {
        max-width: 700px;
        font-size: 45px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        height: 100px;
    }  
}

@media screen and (min-width: 491px) and (max-height: 470px) {
    .projectContentAll {
        padding-top: 120px;
    }
  }