#resumeBackground::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(pexels-pixabay-434337.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#resumeBackground {
    height: 100%;
}

#resumeOverlay {

}


.resumeContentAll {
    padding-top: 210px;

}

#resumeSubheader {
    margin-top: 0;
    font-size: 50px;
}

p {
    display: flex;
    width: 75%;
    /*height: 139px;*/
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    color: #FFF;
    text-align: center;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 159%; /* 39.75px */
    margin-bottom: 3%;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 5px;
}

.card-overlay::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -11;
    background-color: rgba(0, 0, 0, 0.6);
    background: cover no-repeat center center;
  }

  .card-overlay {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 491px) {
    #resumeBackground {
        background-attachment: fixed;
    }
    .resumeContentAll {
        padding-top: 140px;
    }
    #resumeSubheader {
        font-size: 30px;
        margin : 0 20px;
        margin-bottom: 20px;
    }

    .resumeContainer p {
        width: 75%;
        font-size: 18px;
        margin-bottom: 40px;
        text-align: left;
        letter-spacing: 1.47px;
    }
  }

/*NOTE: heights may need to be taken into account*/

@media screen and (max-width: 400px) and (max-height: 900px) {
    #resumeSubheader {
        font-size: 20px;
    }

    .resumeContainer p {
        font-size: 12px;
        margin-bottom: 20px;
    }
    
}

/*iPhone 4 and smaller */
@media screen and (max-height: 567px) {
    
    .resumeContentAll {
    }
    #resumeBackground {
        height: auto;
    }  
}

@media screen and (min-width: 491px) and (max-width: 1082px) and (max-height: 725px) {
    #resumeBackground {
        height: auto;
    }
  }



  /*Tablets*/
@media screen and (min-width: 491px) and (max-width: 1082px) {
    #resumeSubheader {
      font-size: 42px;
    }
    
  }
