#backPosition {
    position: absolute;
    top: 15%;
    left: 2%;
}
@media screen and (max-width: 491px) {
    #backPosition {
        top: 33%;
        left: 5%;
    }
}

@media screen and (max-height: 568px) {
    #backPosition {
        top: 25%;

    }
}