#backPosition {
    position: absolute;
    top: 15%;
    left: 2%;
}
@media screen and (max-width: 600px) {
    #backPosition {
        top: 33%;
        left: 5%;
    }
}

@media screen and (max-width: 400px) and (max-height: 567px) {
    #backPosition {
        top: 25%;

    }
}

@media screen and (min-width: 491px) and (max-width: 900px) {
    #backPosition {
        top: 35%;
    }  
}